html {
  background-color: #ecf0f1
}


.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}


#bt {
  background-color: #3498db;
}


.result {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
